/* mobile size design */

@media screen and (max-width: 576px) {

    /* header section design */
    .header-container {
        width: 100%;
    }

    .navbar-container {
        flex-direction: column;
    }

    .nav ul {
        margin-top: 20px;
    }

    .nav ul li a {
        font-size: 20px;
    }

    .header-title {
        font-size: 35px;
    }

    .header-description {
        width: 100%;
    }

    /* feature section design */
    .feature {
        flex-direction: column;
    }

    .feature-img {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .feature-img img {
        width: 90%;
        margin: 0 auto;
    }

    .feature-info-description {
        width: 100%;
    }

    /* feature blog section design */
    .feature-blog {
        flex-direction: column-reverse;
    }

    .feature-blog-title {
        font-size: 40px;
        width: 90%;
    }

    .feature-blog-img .btn-3 {
        left: 0;
    }

    .feature-blog-description {
        width: 90%;
        padding: 10px;
        padding-left: 25px;
    }

    .card {
        width: 90%;
    }

    .card-description {
        width: 100%;
    }

    .feature-blog-img img {
        width: 100%;
    }

    /* Some Facts section design */
    .some-facts {
        width: 100%;
    }

    .some-facts-title {
        font-size: 45px;
        text-align: center;
    }

    .some-facts-description {
        width: 98%;
        text-align: center;
    }

    .some-facts-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .some-facts-card {
        margin-left: 0;
        margin-bottom: 15px;
    }

    /* Our Sponspors section design */
    .our-sponspor-description {
        width: 95%;
        padding: 10px;
    }

    .our-sponspor-img-container {
        flex-direction: column;
    }

    /* contact us section design */

    .personal-info-container {
        flex-direction: column;
    }

    .personal-info-container {
        width: 100%;
    }

    .personal-info-blog {
        border-right: none;
        padding-left: 10px;
        border-bottom: 1px solid rgb(82, 69, 69);
        padding-bottom: 10px;
    }

    /* footer section design */
    .footer {
        width: 100%;
        height: 75px;
    }

}