@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

@keyframes moveToLeft {
    0% {
        transform: rotate(0deg);
        background: linear-gradient(to right,
                #ff8177 0%,
                #ff867a 0%,
                #ff8c7f 21%,
                #f99185 52%,
                #cf556c 78%,
                #b12a5b 100%);
    }

    25% {
        transform: rotate(45deg);
        background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }

    50% {
        transform: rotate(90deg);
        background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    }

    75% {
        transform: rotate(180deg);
        background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }

    100% {
        transform: rotate(360deg);
        background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header section design */
.header {
    background: rgba(255, 144, 14, 0.1);
}

.header-container {

    width: 1160px;
    margin: 0 auto;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 100px;

}

.navber-title {
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}

.nav ul {
    display: flex;
    gap: 25px;
}

.nav ul li {
    list-style-type: none;
}

.nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}

.header-details-container {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;

}

.header-description {
    font-weight: 400;
    text-align: center;
    color: #727272;
    margin-bottom: 32px;
    width: 860px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.btn-1 {
    width: 180px;
    height: 64px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.header-img {
    padding-bottom: 40px;
}

.header-img img {
    width: 100%;
}

/* feature section design */
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 40px;
}

.feature-img {
    width: 575px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.feature-img img {
    width: 100%;
}

.feature-info-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.feature-info-title span {
    color: #131313;
    font-weight: 700;
}

.feature-info-subtitle {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.feature-info-description {
    color: #727272;
    font-weight: 400;
    margin-top: 24px;
    width: 537px;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn-2 {
    margin: 0;
}

/* feature blog section design */

.feature-blog {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 180px;
}

.feature-blog-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    width: 468px;
    height: 106px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
}

.feature-blog-description {
    color: #727272;
    font-weight: 400;
    width: 550px;
    height: 78px;
}

.feature-blog-cards {
    margin-top: 30px;
}

.card {
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
}

.card-title {
    color: #131313;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-description {
    color: #727272;
    font-weight: 400;
    line-height: 20px;
    width: 514px;
    height: 78px;
}

.feature-blog-img img {
    width: 550px;
}

.feature-blog-img .btn-3 {
    display: block;
    width: 260px;
    height: 165px;
    position: relative;
    top: -70px;
    left: -50px;
    font-size: 50px;
    font-weight: 600;
}

.feature-blog-img .btn-3 span {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 50px;
}

/* Some Facts section design */

.some-facts {
    width: 1160px;
    margin: 0 auto;
}

.some-facts-title {
    color: #131313;
    font-size: 45px;
    margin-bottom: 20px;
}

.some-facts-description {
    color: #727272;
    width: 542px;
    font-weight: 400;
    margin-bottom: 100px;
}

.some-facts-card-container {
    display: flex;
    margin-bottom: 180px;
}

.some-facts-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 220px;
    height: 220px;
    margin-left: 50px;
    text-align: center;
}

.some-facts-card:hover {
    animation: moveToLeft 5s linear infinite;
}

.some-facts-card img {
    margin-top: 50px;
}

.some-facts-card h2 {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
}

.some-facts-card p {
    color: #727272;
    font-size: 20px;
    margin-top: 10px;
}

/* Our Sponspors section design  */

.our-sponspor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-sponspor-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.our-sponspor-description {
    color: #727272;
    width: 542px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
}

.our-sponspor-img-container {
    display: flex;
    gap: 80px;
    margin-bottom: 130px;
}

.our-sponspor-img-container img {
    width: 165px;
}

/* contact us section design */
.personal-info {
    margin-bottom: 50px;
}

.personal-info-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 100px;
    text-align: center;
}

.personal-info-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    gap: 10px;
}

.personal-info-blog {
    width: 380px;
    border-right: 1px solid #b4b1b1;
}

.personal-info-container :last-child {
    border: none;
}

.personal-info-blog-title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}

.who-am-i-description {
    color: #727272;
    width: 360px;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 50px;
}

.personal-info-blog-description {
    color: #727272;
    font-weight: 400;
    margin-bottom: 5px;
}

.personal-info-blog-description span {
    color: #131313;
    font-weight: 600;
}

.my-expertise-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.my-expertise-container img {
    width: 80px;
}

.hide {
    display: none;
}

/* footer section design */

.footer {
    margin: 0 auto;
    width: 1160px;
    height: 50px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 10px;
}

.footer p {
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
}